:root {
    --teal: #008080;
    --segundo: #222222;
    --tercero: #f5f5f5;
    --blanco: #ffffff;
    --negro: #000000;
    --fondo: #efefef;
    --sombra: #00000055;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--fondo);
    color: var(--segundo);
}
header {
    background-color: var(--teal);
    color: var(--blanco);
}
header div {
    padding: 3rem 3rem 0.5rem 3rem;
}
header h1 {
    font-size: 3rem;
    text-align: center;
}
#hproyectos {
    background-color: var(--segundo);
    color: var(--tercero);
    border-radius: 0 0 0.5rem 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0 0 0; 
}
#hproyectos div {
    padding: 0;
}
#hproyectos h1 {
    font-size: 2rem;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.columna {
    flex: 1;
}
section article {
    background-color: var(--blanco);
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 28rem;
}
section article .imagenes{
    text-align: center;
}
section article img{
    border-radius: 0.5rem;
    padding: 0.1rem;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--sombra);
    border: 0.06rem solid var(--tercero);
    max-width: 26rem;
    min-height: 18rem;
    max-height: 18rem;
}
section article h2, section article p {
    margin: 1rem;
}
section article:hover {
    box-shadow: 0 0.1rem 0.4rem var(--sombra);
}
section article img {
    margin: 0 0.6rem;
}
footer {
    background-color: var(--segundo);
    padding: 3rem;
    color: var(--blanco);

}
footer section {
    float: right;
}
footer p {
    margin: 0;
}
footer a {
    transition: color 0.3s ease;
    color: var(--blanco);
    text-decoration: none;
}
footer a:hover {
    color: var(--teal);
}
.menuvp {
    width: 100% !important;
    background: var(--teal);
    list-style: none;
    margin: 0;
    padding: 0.1rem 0 0.1rem 0;
    font-size: 0.2rem;
    border-radius: 0 0 0.6rem 0.6rem;
    top: 0;
    text-align: center;
}
.menuvp li {
    display: inline-block;
    padding: 0 0.2rem;
}
.menuvp li a {
    display: inline-block;
    padding: 0.2rem 3rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1rem;
}
.menuvp li a:hover {
    background: var(--blanco);
    color: var(--teal);
    border-radius: 0.6rem;
}
.menu {
    width: 100% !important;
    background: var(--teal);
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 0 0 0.6rem 0.6rem;
    position: fixed;
    top: 0;
    text-align: right;
}
.menu li {
    display: inline-block;
    padding: 0;
}
.menu li a {
    display: inline-block;
    padding: 0.2rem 2rem;
    color: var(--blanco);
    text-decoration: none;
}
.menu li a:hover {
    background: var(--blanco);
    color: var(--teal);
    border-radius: 0.6rem;
}
.inicio {
    margin-right: 0.2rem; 
}
.inicio a {
    color: var(--teal) !important;
    background: var(--blanco);
    border-radius: 0.6rem;
}
.inicio a:hover {
    background: var(--segundo) !important;
    color: var(--teal) !important;
    border-radius: 0.6rem;
}
#nosotros {
    border-top: 0.06rem solid var(--sombra);
}
#nosotros p{
    margin: 1rem auto;
    padding: 0.5rem;
    width: 50rem;
    background-color: var(--blanco);
    border-radius: 0.6rem;
}
#nosotros ul li {
    list-style: none;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 50rem;
    background-color: var(--tercero);
    border-radius: 0.6rem;
}